<h1>Submissions</h1>
<%= link_to "Run Report", gradebook_path(format: :csv), class: "btn btn-success" %>

<%- @units.each do |k, exercises| %>
  <h4><%= k %></h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Email </th>
        <th scope="col"> Exercise </th>
        <th scope="col"> Points </th>
        <th scope="col"> Grade </th>
        <th scope="col"> Graded Points </th>

        <th scope="col"> File </th>
      </tr>
    </thead>
    <tbody>
      <% exercises.each do |sub| %>
        <tr>
          <td><%= sub.email %></td>
          <td><%= sub.name %></td>
          <td><%= sub.points %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "0%", submission_path(sub.id, percentage:0), remote: true, class: "grade btn btn-secondary", method: :put %>
              <%= link_to "50%", submission_path(sub.id, percentage:50), remote: true, class: "grade btn btn-secondary", method: :put %>
              <%= link_to "80%", submission_path(sub.id, percentage:80), remote: true, class: "grade btn btn-secondary", method: :put %>
              <%= link_to "100%", submission_path(sub.id, percentage:100), remote: true, class: "grade btn btn-secondary", method: :put %>
            </div>
          </td>

          <td id=<%= "graded-points-#{sub.id}" %>> <%= sub.graded_points %></td>
 
          <td><%= link_to "FILE", submission_path(sub.id), target: "_black", class: "btn btn-small btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <% end %>
