<%# Nav Bar %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Programming Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://repl.it/@LoganRice1/Java-Project" target="_blank">Sandbox</a>
      </li>
    </ul>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary") %>        
      </li>
    <% else %>
      <li>
        <%= form_for(:user, :url => session_path(:user), html: { class: "form-inline mt-2 mt-md-0"} ) do |f| %>
          <%= f.text_field :email, placeholder: "email", class: "form-control mr-sm-2" %>
          <%= f.password_field :password, placeholder: "password", class: "form-control mr-sm-2"%>
          <%= f.submit 'Sign in', class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %> 
      </li>
    <% end %>
  </div>
</nav>

<%# Main Content %>
<div class="container">
  <h1>Exercises</h1>
  <div class="list-group">
    <%- @units.each do |unit| %>
      <div class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
        <%= unit.name %>
      </div>

      <%- unit.exercises.each do |exercise| %>
        <a href=<%= exercise.link.blank? ? "#" : exercise.link %> class="list-group-item list-group-item-action">
          <%= exercise.name %>
          
          <span class="badge badge-secondary">✓</span>
        </a>
      <% end %>
    <% end %>

  </div> 
  <%- #list group %>
  
</div>
