<!DOCTYPE html>
<html>
  <head>
    <title>Programmingclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# Nav Bar %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Programming Club", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Grades", grades_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://repl.it" target="_blank">Sandbox</a>
          </li>
          <%- if current_user.try(:admin?) %>
            <li class="nav-item">
              <%= link_to('GradeBook', submissions_path, class: "nav-link") %>        
            </li>
          <% end %>

        </ul>

        <%- if current_user %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary") %>        
        <% end %>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
